name: "Docker Hub"

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    tags:
      - v*

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    env:
      DOCKER_BUILDKIT: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'

      - name: Update Go Modules
        run: |
          go mod tidy
          go mod download
          go mod verify

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            cloudzure/sdns-test
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}